.cardcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: transparent;
    transition: 0.3s;
    width: 300px;
    width: fit-content;
    height: 400px;
    height: fit-content;
    margin: auto;
    position: relative;
    padding: 20px;

  }
  
  .cardcontainer:hover .cardimage, /* Al hacer hover sobre el contenedor, rotamos la imagen */
  .cardcontainer:hover .cardinfo {
    /* Al hacer hover sobre el contenedor, rotamos la información */
    transform: rotateY(180deg); /* Rotamos la imagen o la información */
    opacity: 1;
  }
  .cardbutton {
    margin: auto;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.551);
    background-color: red;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    margin-left: 280px;
    margin-top: 30px;
    border:none;
    color:white;
    font-weight: 600;
  }
  .cardbutton:hover {
    color: black;
  }
  .cardimage {
    /* Añade los estilos que ya tienes para la imagen */
    transform: translateY(0) rotateY(0deg); /* Establecemos la posición y rotación inicial de la imagen */
    backface-visibility: hidden; /* Ocultamos la parte trasera de la imagen */
    transition: 0.3s; /* Añadimos una transición suave para que la rotación sea más agradable al ojo */
    margin: auto;
    height:auto;
    width: auto;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.551);
    border-radius: 30px;
  
  }
  .cardinfo {
    position: absolute; /* Esto hace que la información se superponga a la imagen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/fondon.png');
    background-size: cover;
    color: white;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible; /* Esto oculta la información */
    width: 100%;
    height: 100%;
    transform: rotateY(
      180deg
    ); /* Invertimos la posición y rotación de la imagen */
    backface-visibility: visible; /* Ocultamos la parte trasera de la información */
    transition: 0.3s; /* Añadimos una transición suave para que la rotación sea más agradable al ojo */
    margin: auto;
    justify-content: center;
    font-size: 20px;
    opacity: 0;
    display: flex;
    border-radius: 30px;
  }
  .cardname {
    padding: 0px 20px 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  .cardspeandgen {
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  .cardspeandgen p:last-child {
    margin-left: 10px;
    justify-content: center;
  }
  .img {
    position: relative;
    cursor: pointer;
    border-radius: 30px;
    width: 300px;
    height: 300px;
    
  }
  .divimg{
    display: flex;
    flex-direction: column-reverse;
    
  }
  
  .ids{
    position: absolute;
    background-color: rgba(208, 234, 146, 0.755);
    backdrop-filter:blur(7px) ;
    color:rgb(10, 188, 219);;
    background-size: contain;
    font-weight: 700;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.551);
    
    width: 100%; 
    height: 10%; 
  }
  @media (max-width:480px){
    .cardcontainer{
      align-items: center;
      height: auto;
      height: 40%;
      width: auto;
      width: 40%;
      padding: 0%;
      margin: 25%;
    }
    .img{
      height: 70%;
    }
    .cardbutton{
      margin: auto;
      margin-top: auto;
      margin-top: 10%;
      margin-left: auto;
      margin-left: 100%;
      position: absolute;
    }
  }
  @media(max-width:1200px){
    .cardcontainer{
      
    }
  }