.div{
    display: flex;
    color:black;
    width: 51%;
    height: 470px;
    box-shadow: 1px white;
    margin: auto;
    margin-top: 150px;
    border: 1px solid white;
    background-image: url("./img/plantillacard.png");
    background-size:contain;
    box-shadow: -1px 3px 14px 7px rgba(1, 217, 255, 0.703);
    
}

.fotoid{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.fotoid img{
    width: 341px;
    margin: auto;
    margin-left: 0px;
    margin-top: 57px;
    -webkit-clip-path: polygon(68% 0, 98% 50%, 70% 100%, 0% 100%, 0 51%, 0% 0%);
clip-path: polygon(68% 0, 98% 50%, 70% 100%, 0% 100%, 0 51%, 0% 0%);
}
.info{
    display: flex;
    flex-direction: column;
    text-align:left;
    width:50%;
    margin: auto;
}

.name{
text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}




.botonverde{
    display: flex;
    flex-direction: row;
    justify-content: center;
align-self:center;
    margin-top: 10px;
    margin-left: 150px;
}
.botonverde img{
    width: 40px;
    height: 40px;
margin: auto;
}
.botonverde h2{
    white-space: nowrap;

}
